body{

	margin: auto;
}

main{
	margin: 1rem;
	max-width: 60%;
	margin: auto;
}

h1,h2,h3 {
	font-family: 'modesto-poster',serif;
	font-weight: normal;
}

h1{
	font-size: 75pt;
	width: 100%;
}


h2 {
	font-size: 4rem;
}

p{
	font-family: 'warnock', serif; font-size: 14pt;
}

.img1{
	width: 500px;
	height: 1000px;
	margin: 10px;
	background-image: url(images/clowns.jpg); 
	background-attachment: scroll; background-position: center; background-size: cover;
}

.palette{
	display: flex;
}

.primary{
	flex: 2;
	background: blue;
}

.secondary, .tertiary{
	flex: 1;
}

.secondary{
	background: red;
}

.tertiary{
	background: rgb(0,255,0);
}



a{font-family: 'american typewriter';
text-decoration: none;
}
.astyle{
	border: 2px solid black;
	border-radius: all;
	padding: 7px;
	color: black; 
	border-radius: contain; 
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
	

}
.space{
	padding: 0;
	margin: 0;
	line-height: 2em;
	margin-bottom: -.5em;
	font-size: 45pt;

}
.space1{
	padding: 0;
	margin: 0;
	line-height: 2em;
	margin-bottom: -.5em;
	font-size: 25pt;

}
.photos{
	width: 90%;
	height: 3080px;
	margin: auto;
	background-image: url(images/screenshots.png); background-image: contain;
	background-position: center; object-fit; 
	background-size: contain; background-attachment: scroll:
	background-repeat: no-repeat;


}
.banner{
	width: 120%;
	height: 380px;
	margin: fill;
	background-color: black;
	background-image: url(images/victims.png);
	background-attachment: scroll;
	background-position:center;
	background-size: cover;
}


